html {
    scroll-behavior: smooth;
}

body {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a;
    color: #f2f2f2;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    gap: 200px;
}
.container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/* Style du bouton de menu */
#menu-container {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 100;
}

#menu-button {
    width: 40px;
    height: 40px;
    background-color: #333;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Animation de rotation */
#menu-button img.rotate {
    transition: transform 0.3s ease;
    transform: rotate(90deg);
}

#menu-button img {
    width: 25px;
    height: 25px;
    transition: transform 0.3s ease;
}

/* Menu déroulant */
#dropdown-menu {
    position: absolute;
    top: 50px;
    left: -200px; /* Caché au début (hors écran à gauche) */
    width: max-content;
    background-color: #444;
    border-radius: 5px;
    display: block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: left 0.5s ease, opacity 0.5s ease;
}

#dropdown-menu.open {
    left: 0; /* Le menu apparaît */
    opacity: 1; /* Transition d'opacité pour le rendre visible */
}

#dropdown-menu ul {
    list-style: none;
    padding: 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#dropdown-menu ul li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
}

#menu-pokedex img, #menu-bush img, #menu-crown img {
    max-width: 33px;
}

#dropdown-menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

#dropdown-menu ul li a:hover {
    color: #f8b400;
}

/* Sticky style */
#menu-container.sticky {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 100;
}

#main-title-img{
    max-width: 800px;
}
#wall-fame-img{
    max-width: 280px;
}
#table-type-img{
    max-width: 400px;
}
#rencontre-img{
    max-width: 520px;
}
h1 {
    text-align: center;
    color: #f8b400;
    margin: 70px;
}
#typeSelection{
    display: flex;
    column-gap: 20px;
    justify-content: space-evenly;
    margin-top: 15px;
}
#typeSelection img{
    width: 19px; 
    height: 19px; 
    vertical-align: middle; 
}
#combinedEffectiveness{
    display: flex;
    justify-content: space-evenly;
}
.multiplier{
    color: red;
    font-weight: bold;
    margin-right: 3px;
    text-shadow: 0.5px 0.5px 0 white, -0.5px 0.5px 0 white, 0.5px -0.5px 0 white, -0.5px -0.5px 0 white;
}
#weakTo, #strongAgainst, #immuneTo, #resistantTo, #weakAgainst, #noEffectOn{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    text-align: center;
}
#searchInput {
    width: 40%; /* Full-width */
    padding: 12px 20px; /* Some padding */
    margin: 8px 0; /* Some space around */
    display: inline-block; /* To follow the flow of the document */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded corners */
    box-sizing: border-box; /* To include padding and border in the width */
    background-color: #f8f8f8; /* Light background */
    font-size: 16px; /* Slightly larger font-size for readability */
    transition: border-color 0.3s, box-shadow 0.3s; /* Smooth transition for focus */
}

#searchInput:focus {
    border-color: #f8b400; /* Highlight color for focus */
    outline: none; /* Remove default focus outline */
    box-shadow: 0 0 8px rgba(248, 180, 0, 0.8); /* Glowing effect on focus */
}

#searchContainer {
    text-align: center; /* Center the search bar */
    padding: 20px; /* Padding around the container */
}
.zone {
    flex-grow: 1;
    flex-basis: calc(33.33% - 20px); /* 33.33% pour 3 colonnes avec un espacement de 20px */
    background-color: #333;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-radius: 8px;
    box-sizing: border-box; /* Pour inclure le padding et la bordure dans la largeur */
    min-height: 200px; /* Ajoutez une hauteur minimale pour éviter le chevauchement */
    position: relative; /* Pour positionner les pourcentages */
}

.zone-name{
    display: flex;
    flex-direction: column;

}
.zone-type{
    display: flex;
    gap: 25px;
}
.zone h2 {
    color: #f8b400;
}
.zone ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.zone ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px; /* Largeur fixe pour chaque élément de la liste */
    margin: 10px auto 0px auto;
}

.zone span {
    padding-top: 10px;
}

/* Styles pour les pourcentages */
.percentage {
    font-weight: bold;
    width: 20%;
}

.percentage[data-value="30"] {
    color: #4CAF50; /* Couleur verte pour 30% */
}

.percentage[data-value="20"] {
    color: #78af4c; /* Couleur verte pour 30% */
}

.percentage[data-value="15"] {
    color: #95af4c; /* Couleur verte pour 30% */
}

.percentage[data-value="10"] {
    color: #a0af4c; /* Couleur verte pour 30% */
}

.percentage[data-value="9"] {
    color: #a8af4c; /* Couleur verte pour 30% */
}

.percentage[data-value="5"] {
    color: #afa54c; /* Couleur verte pour 30% */
}

.percentage[data-value="4"] {
    color: #af8c4c; /* Couleur verte pour 30% */
}

.percentage[data-value="3"] {
    color: #af6b4c; /* Couleur verte pour 30% */
}

.percentage[data-value="2"] {
    color: #af574c; /* Couleur verte pour 30% */
}
.percentage[data-value="1"] {
    color: #FF0000; /* Couleur rouge pour 0% */
}

/* Styles pour les noms de Pokémon */
.pokemon-name {
    width: 50%;
}
.type-button {
    padding: 4px 4px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 120px;
    gap: 5px;
}

.type-button img {
    width: 20px;
    height: 20px;
    margin-left: 1px;
    vertical-align: middle;
}

.type-name {
    flex-grow: 1; /* Le texte prend tout l'espace disponible */
    text-align: center; /* Centrer le texte */
}

.normal { background: #A8A878; }
.fighting { background: #C03028; }
.flying { background: #A890F0; }
.poison { background: #A040A0; }
.ground { background: #E0C068; }
.rock { background: #B8A038; }
.bug { background: #A8B820; }
.ghost { background: #705898; }
.steel { background: #B8B8D0; }
.fire { background: #F08030; }
.water { background: #6890F0; }
.grass { background: #78C850; }
.electric { background: #F8D030; }
.psychic { background: #F85888; }
.ice { background: #98D8D8; }
.dragon { background: #7038F8; }
.dark { background: #705848; }
.fairy { background: #EE99AC; }

#typeChart {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #ffffff;
    margin: 20px auto;
    gap: 30px;
}

#typeChart h3 {
    text-align: center;
    color: #f8b400;
}

#typeChart ul {
   list-style-type: none;
   padding: 0;
}

#typeChart li {
    margin: 5px 0;
    text-align: center;
}

/* Add styles for when a type button is active/selected */
.type-button.active {
    box-shadow: 0 0 12px rgb(255, 255, 255);
}

#typeMode {
    justify-content: center;
    display: flex;
}

#attackMode {
    background-color: #333;
    color: #c03028;
    border: 2px solid #c03028;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    display: flex;
    gap: 10px;
    align-items: center;
}

#attackMode svg, #defenseMode svg{
    max-width: 20px;
    max-height: 20px;
}

#attackMode path{
    stroke: #c03028;
    fill: #c03028;
}

#attackMode.active path, #defenseMode.active path{
    stroke: white;
    fill: white;
}

#defenseMode path{
    stroke: #5255f3;
    fill: #5255f3;
}

#defenseMode {
    background-color: #333;
    color: #5255f3;
    border: 2px solid #7883ff;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    display: flex;
    gap: 10px;
    align-items: center;
}

#attackMode.active {
    background-color: #9d0000;
    color: #ffffff;
    font-weight: bold;
    border: 2px solid #e59692;
    box-shadow: 0 0 10px rgb(255, 255, 255);
}

#defenseMode.active {
    background-color: #00399d;
    color: #ffffff;
    font-weight: bold;
    border: 2px solid #9295e5;
    box-shadow: 0 0 10px rgb(255, 255, 255);
}

/* Ajoute une animation pour les types avec x4 */
.type-button[data-multiplier="x4"] {
    position: relative;
    animation: pulseGlow 1.5s infinite;
    border: 2px solid rgba(255, 255, 255, 0.7); /* Optionnel : Ajoute une bordure autour */
}

/* Animation de pulsation */
@keyframes pulseGlow {
    0% {
        box-shadow: 0 0 10px rgba(255, 0, 0, 0.5), 0 0 20px rgba(255, 0, 0, 0.4), 0 0 30px rgba(255, 0, 0, 0.3);
    }
    50% {
        box-shadow: 0 0 20px rgba(255, 0, 0, 0.7), 0 0 30px rgba(255, 0, 0, 0.6), 0 0 40px rgba(255, 0, 0, 0.5);
    }
    100% {
        box-shadow: 0 0 10px rgba(255, 0, 0, 0.5), 0 0 20px rgba(255, 0, 0, 0.4), 0 0 30px rgba(255, 0, 0, 0.3);
    }
}

/* Appliquer un contour animé via box-shadow aux types avec x4 */
.gradient-border {
    box-shadow: 0 0 10px 5px rgba(255, 0, 127, 0.8); /* Dégradé initial */
    animation: gradient-box-shadow 2s linear infinite; /* Animation */
}

@keyframes gradient-box-shadow {
    0% {
        box-shadow: 0 0 5px 2.5px rgba(255, 0, 127, 0.8),
                    0 0 10px 5px rgba(255, 153, 0, 0.6);
    }
    25% {
        box-shadow: 0 0 6px 3px rgba(255, 102, 51, 0.8),
                    0 0 11px 5.5px rgba(255, 94, 77, 0.6);
    }
    50% {
        box-shadow: 0 0 7.5px 3.5px rgba(255, 153, 0, 0.8),
                    0 0 12.5px 6px rgba(243, 16, 0, 0.6);
    }
    75% {
        box-shadow: 0 0 6px 3px rgba(255, 77, 156, 0.8),
                    0 0 11px 5.5px rgba(243, 0, 77, 0.6);
    }
    90% {
        box-shadow: 0 0 5px 2.5px rgba(243, 16, 0, 0.6),
                    0 0 10px 5px rgba(255, 0, 127, 0.8);
    }
    100% {
        box-shadow: 0 0 5px 2.5px rgba(255, 0, 127, 0.8),
                    0 0 10px 5px rgba(255, 153, 0, 0.6);
    }
}
